[Unit]
Description=Drone Client Service

[Service]
ExecStart=sleep 5 && /usr/bin/python /home/pi/bluetooth_drone/drone.py
Restart=on-failure

[Install]
WantedBy=multi-user.target