[Unit]
Description=Station Client Service

[Service]
ExecStart=sleep 5 && /usr/bin/python /home/linaro/bluetooth_drone/server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target